{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <!-- <h1>{{ .Title }}</h1> -->
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

<!--标签云-->
<div id="sourrounding_div" style="width:100%;height:100%;min-height: 500px;">
    <canvas id="tag-canvas"></canvas>
</div>

<script src="/js/wordcloud2.js"></script>
{{- range $key, $value := .Data.Terms.Alphabetical }}
    {{ if eq "" ($.Scratch.Get "tagsMap") }}
        {{ $.Scratch.Set "tagsMap" (slice (dict .Name .Count))  }}
    {{ else }}
        {{ $.Scratch.Add "tagsMap" (slice (dict .Name .Count)) }}
    {{ end }}
{{- end }}
{{ $result := ($.Scratch.Get "tagsMap")}}
<span id="tag-temp" style="display:none">{{$result | jsonify }}</span>
<script>
    //为了动态宽度
    var div = document.querySelector("#sourrounding_div");
    var canvas = document.querySelector("#tag-canvas");
    canvas.height = div.offsetHeight;
    canvas.width  = div.offsetWidth;

    var wordFreqData =  document.querySelector("#tag-temp").innerHTML;
    var jsonObj = JSON.parse(wordFreqData);
    var arr = []
    jsonObj.forEach(element => {
        var key = Object.keys(element);
        var itemArr = [key[0],element[key]*20];
        arr.push(itemArr);
    });
    //获取当前是暗色还是浅色
    var isDark = document.body.className.includes("dark");
    WordCloud(canvas, {
          "list": arr,//或者[['各位观众',45],['词云', 21],['来啦!!!',13]],只要格式满足这样都可以
          "gridSize": 6, // 密集程度 数字越小越密集
          "weightFactor": 1, // 字体大小=原始大小*weightFactor
          "fontWeight": 'normal', //字体粗细
          "fontFamily": 'Times, serif', // 字体
          "color": isDark?'random-light':'random-dark', // 字体颜色 'random-dark' 或者 'random-light'
          "backgroundColor": 'transparent', // 背景颜色
          "classes": "tag-cloud-item word-color", //用于点击事件
      });
      canvas.addEventListener('wordcloudstop', function (e) {
            //动画
            setTimeout(() => {
                let els = document.querySelectorAll(".word-color");
                console.log('动画',els)
                Array.from(els).forEach((el) => {
                    el.classList.add("word-animate")
                })
            }, 2000);
            //点击
            document.querySelectorAll('.tag-cloud-item').forEach(function (element) {
                console.log('点击',element)
                const text = element.innerHTML;
                element.innerHTML = `<a href="/tags/${text}" style="color: inherit;">${text}</a>`;
            });
        });
    
</script>

<!-- <ul class="terms-tags">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    <li>
        <a href="{{ .Permalink }}">{{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
    </li>
    {{- end }}
    {{- end }}
</ul> -->

{{- end }}{{/* end main */ -}}
