{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}

{{- /* canvas ani bg */ -}}
<script
  type="text/javascript"
  color="238,162,164"
  src="https://cdn.jsdelivr.net/npm/canvas-nest.js/dist/canvas-nest.js"
></script>

{{- if .IsHome }}
{{- /* cal-heatmap */ -}}
<script type="text/javascript" src="js/cal-heatmap.js"></script>
<link rel="stylesheet" href="css/footer-home.css">
<script type="text/javascript" src="js/footer-home.js"></script>
{{/* slogan typing */}}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    var typed = new Typed('#typed', {
      stringsElement: '#typed-strings',
      typeSpeed: 80,
      backSpeed: 100,
      backDelay: 3000,
      startDelay: 500,
      loop: true,
    });
</script>
{{- end }}

<script>
  /* 一言 */
fetch('https://v1.hitokoto.cn')
    .then(response => response.json())
    .then(data => {
      var str = `${data.hitokoto} —— ${data.from_who||""}《${data.from}》`;
      const hitokoto = document.querySelector('#hitokoto_text')
      hitokoto.innerText = str
    })
    .catch(console.error)
</script>