{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}

{{- /* canvas ani bg */ -}}
<script
  type="text/javascript"
  color="238,162,164"
  src="https://cdn.jsdelivr.net/npm/canvas-nest.js/dist/canvas-nest.js"
></script>

{{- if .IsHome }}
{{- /* cal-heatmap */ -}}
<script type="text/javascript" src="js/cal-heatmap.js"></script>
<link rel="stylesheet" href="css/cal-heatmap.css"></script>
<script type="text/javascript" src="js/heatmap-view-more.js"></script>
{{- end }}