{{- with site.Params.homeInfoParams }}
{{/*总字数*/}}
{{ $scratch := newScratch}}
{{ range (where site.Pages "Kind" "page") }}
    {{ $scratch.Add "total" .WordCount }}
{{ end }}
{{ $wordnum := div ($scratch.Get "total") 10000.0}}
{{/*互链数*/}}
{{ $linknum := "-"}}
{{ range (where site.Pages "RelPermalink" "/links/") }}
    {{ $linklist := findRE `(?s)<div class="archive-item links-item cf-friends" .*?>.*?</div>` .Content }}
    {{ $linknum = len $linklist }}
{{ end }}

<article class="first-entry">
  <div class="home-info">
    <header class="entry-header">
      <h1>Hi~ <span>X</span> One!</h1>
    </header>
    <div class="entry-content">
      <span>L</span>ive <span>A</span>&nbsp;<span>P</span>eaceful Life, <span>T</span>ake <span>O</span>f Your <span>P</span>ath.
      <p>平淡生活，走自己的路。</p>
    </div>
    <footer class="entry-footer">
      {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
  </div>
  <div class="cal-heatmap-container">
    <div class="arrow-icon" title="查看今年" onclick="viewMoreHeapmap()"  style="display: none;">
      <img id="view-more-icon" src="/image/arrow-left.svg" />
    </div>
    <div id="cal-heatmap"></div>
    <div class="site-stat" style="display: none;">
      <p><span id="run-num">···</span>运行</p>
      <p><span>{{ len (where site.RegularPages "Section" "post")  }}</span>文章</p>
      <p><span id="comment-num">···</span>评论</p>
      <p><span> {{ printf "%.1f" $wordnum }}w</span>字数</p>
      <p><span>{{ len site.Taxonomies.tags.ByCount }}</span>标签</p>
      <p><span>{{ $linknum }}</span>友邻</p>
    </div>
  </div>
</article>

{{- end -}}
