<div class="social-icons">
    <a href="javascript:;" onclick="randomPost()" title="随机访问一篇文章">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
            <path
            d="M12 6.545v10.91L20.727 12M3.273 12v12L12 17.455M3.273 0v12L12 6.545"/>
        </svg>
    </a>
    {{- range . }}
    <a href="{{ trim .url " " }}" target="{{- if .newtab }}_brank{{- end }}" rel="noopener noreferrer me" title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}
    
</div>
